<html lang="en">
    <head>
        <title>RALogin</title>
    </head>
    <body>

    <img src="/static/uiuc_lab_logo.png" width="100%"/>

    <h1>RA Access to UIUC Language & Learning Lab File Server</h1>

     {% if current_user.is_authenticated %}
        <a href="/logout">Logout</a>
     {% else %}
         <a href="/login">Login</a>
     {% endif %}

    <hr>


    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    {% block content %}
    {% endblock %}

    </body>
</html>